# Data files (too large for GitHub)
data/processed/

# Model weights
results/*.pth

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# PDF
*.pdf

# Extracted text
electronics-11-00548-v3.txt

# Jupyter
.ipynb_checkpoints/
